.mainHeader {
	margin-top: 0px;
}
.announcements {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(https://as1.ftcdn.net/v2/jpg/03/52/21/48/1000_F_352214843_dQ3JtTJrKyqrh2yd1emYCDPSrzrwqaNK.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: center;
	overflow: hidden;
	background-color: pink;
}
@media only screen and (max-width: 576px) {
	.annouceTitle {
		margin-top: 25px;
		padding: 10px;
		width: 75%;
		background-color: rgba(255, 255, 255, 0.4);
		color: black;
		font-size: 14px;
		font-weight: bold;
		font-family: verdana;
		border-top-right-radius: 9px;
		border-bottom-right-radius: 9px;
	}

	.annouceShop {
		margin-top: 23%;
		width: 100%;
		padding: 3px;
		background-color: white;
		color: black;
		font-family: verdana;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		border-top-left-radius: 100%;
		border-top-right-radius: 100%;
	}
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
	.annouceTitle {
		margin-top: 95px;
		padding: 10px;
		width: 50%;
		background-color: rgba(255, 255, 255, 0.4);
		color: black;
		font-size: 14px;
		font-weight: bold;
		font-family: verdana;
		border-top-right-radius: 9px;
		border-bottom-right-radius: 9px;
	}

	.annouceShop {
		margin-top: 90px;
		width: 100%;
		padding: 9px;
		background-color: white;
		color: black;
		font-family: verdana;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		border-top-left-radius: 100%;
		border-top-right-radius: 100%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.annouceTitle {
		margin-top: 95px;
		padding: 10px;
		width: 50%;
		background-color: rgba(255, 255, 255, 0.4);
		color: black;
		font-size: 14px;
		font-weight: bold;
		font-family: verdana;
		border-top-right-radius: 9px;
		border-bottom-right-radius: 9px;
	}

	.annouceShop {
		margin-top: 190px;
		width: 100%;
		padding: 9px;
		background-color: white;
		color: black;
		font-family: verdana;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		border-top-left-radius: 100%;
		border-top-right-radius: 100%;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.annouceTitle {
		margin-top: 95px;
		padding: 10px;
		width: 50%;
		background-color: rgba(255, 255, 255, 0.4);
		color: black;
		font-size: 14px;
		font-weight: bold;
		font-family: verdana;
		border-top-right-radius: 9px;
		border-bottom-right-radius: 9px;
	}

	.annouceShop {
		margin-top: 290px;
		width: 100%;
		padding: 9px;
		background-color: white;
		color: black;
		font-family: verdana;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		border-top-left-radius: 100%;
		border-top-right-radius: 100%;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	.annouceTitle {
		margin-top: 95px;
		padding: 10px;
		width: 50%;
		background-color: rgba(255, 255, 255, 0.4);
		color: black;
		font-size: 14px;
		font-weight: bold;
		font-family: verdana;
		border-top-right-radius: 9px;
		border-bottom-right-radius: 9px;
	}

	.annouceShop {
		margin-top: 390px;
		width: 100%;
		padding: 9px;
		background-color: white;
		color: black;
		font-family: verdana;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		border-top-left-radius: 100%;
		border-top-right-radius: 100%;
	}
}
@media only screen and (min-width: 1400px) {
	.annouceTitle {
		margin-top: 95px;
		padding: 10px;
		width: 50%;
		background-color: rgba(255, 255, 255, 0.4);
		color: black;
		font-size: 14px;
		font-weight: bold;
		font-family: verdana;
		border-top-right-radius: 9px;
		border-bottom-right-radius: 9px;
	}

	.annouceShop {
		margin-top: 490px;
		width: 100%;
		padding: 9px;
		background-color: white;
		color: black;
		font-family: verdana;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		border-top-left-radius: 100%;
		border-top-right-radius: 100%;
	}
}
